//This is only here to demo the position absolute option
//html,body {
//    height:2000px;
//    position: relative;
//}
//The cookie styling
div.cookies {
  // position: absolute; //Use this if you want it below everything at the bottom of the page
  position:fixed; //Use this if you want it floating at the bottom of the browser window
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 10px 0;
  color: #ffa41c;
  font-size: 12px;
  line-height: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: black;
}
div.cookies .container {
  position: relative;
}
@media only screen and (min-width: 1025px) {
  div.cookies .container {
    height: 40px;
  }
}
div.cookies .container div {
  padding-left: 60px;
  padding-right:10px;
}
div.cookies a {
  color: #fff;
  text-decoration:underline;
  border:none;
}
div.cookies a.close-cookie-warning {
  position: absolute;
  left: 15px;
  top: 0;
  display: block;
  background-color: #ffa41c;
  color: black;
  padding: 9px 5px;
  cursor: pointer;
  font-size: 4rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border:none;
  text-decoration: none;
}
div.cookies a.close-cookie-warning:hover {
  background-color: #fff;
  color:rgb(47,153,205);
  border-bottom:none;
}
@media only screen and (max-width: 767px) {
.mobile-hidden {
  display:none;
  }
}